APP_ENV=local
PORT=8080
APP_BASE_URL=http://localhost:8080

DB_NAME=go_clean_arch
DB_USER=pascalallen
DB_PASSWORD=password
DB_HOST=postgres
DB_PORT=5432

# debug || test || release
GIN_MODE=debug

TOKEN_SECRET=!ChangeMe!

# postgres service vars
POSTGRES_DB=go_clean_arch
POSTGRES_USER=pascalallen
POSTGRES_PASSWORD=password
