<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>go-clean-arch</title>
    <meta name="description" content="A reference implementation of Clean Architecture in Go.">

    <!-- Styles -->
    <link href="/static/assets/app.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="root"></div>
    <input id="script_config" type="hidden" value="{{ .environment }}" />
    <script type="text/javascript" src="/static/assets/app.js"></script>
</body>
</html>
